#cloudsponge-overlay {
  background-color: #fff !important;
  opacity: 0.94 !important;
}

#cloudsponge-address-book {
  padding: 2px !important;
  background-color: rgba(0,0,0,0.08) !important;
  font-family: helvetica, arial, sans-serif !important;
}

#cloudsponge-address-book .cloudsponge-widget {
  background-color: #fff !important;
}

#cloudsponge-address-book a {
  color: #5A20FF !important;
}


#cloudsponge-address-book .cloudsponge-topbar {
  height: 110px;
  color: #141921 !important;
  background-color: #fff !important;
  padding: 50px 20px 20px 20px !important;
}

#cloudsponge-address-book .cloudsponge-topbar .cloudsponge-close-button {
  position: fixed !important;
  top: 2rem !important;
  right: 2rem !important;
  color: #141921a6 !important;  
}

#cloudsponge-address-book .cloudsponge-back-button {
  color: #141921 !important;
  top: 16px;
}

#cloudsponge-address-book .cloudsponge-glyph.back-arrow:before {
  font-size: 16px;
}

#cloudsponge-address-book .cloudsponge-topbar .cloudsponge-menu-button {
  color: #141921 !important;
}

#cloudsponge-address-book .cloudsponge-topbar .cloudsponge-h1 {
  text-align: center;
  font-size: 22px !important;
  font-weight: 600 !important;
}



#cloudsponge-address-book .cloudsponge-providers-list {
  margin: 85px auto !important;
}

#cloudsponge-address-book .cloudsponge-providers-list li a {
  background-color: transparent !important;
  border: 0 !important;
  color: #4D5461 !important;
}

#cloudsponge-address-book .cloudsponge-providers-list li a:hover {
  background-color: rgba(82, 220, 179, 0.3) !important;
}


#cloudsponge-address-book .cloudsponge-header {
  background-color: #fff !important;
}

#cloudsponge-address-book .cloudsponge-input-holder {
  border: 1px solid;
  border-color: #C6CBD3;
}

#cloudsponge-address-book .cloudsponge-title {
  background-color: #fff !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

#cloudsponge-address-book .cloudsponge-title a {
  color: #ABB0B9 !important;
}



#cloudsponge-address-book ul.cloudsponge-contacts-list>li input[type=checkbox]:checked+label:before {
  color: #5A20FF !important;
}

#cloudsponge-address-book ul.cloudsponge-contacts-list>li.cloudsponge-selected .cloudsponge-row-container {
  background-color: #fff;
}

#cloudsponge-address-book ul.cloudsponge-contacts-list>li .cloudsponge-h3 {
  font-weight: 600;
}

#cloudsponge-address-book ul.cloudsponge-contacts-list>li .cloudsponge-selected-mail {
  color: #ABB0B9 !important;
}

#cloudsponge-address-book .cloudsponge-button.cloudsponge-export-button {
  background-color: #52DCB3 !important;
  color: #000000CC !important;
  font-weight: 400;
  text-transform: none !important;
}

#cloudsponge-address-book .cloudsponge-storage-message {
  margin-bottom: 100px !important;
}

@media only screen and (min-width: 961px) {

  #cloudsponge-address-book,
  #cloudsponge-address-book .cloudsponge-widget {
    border-radius: 10px !important;
  }

  #cloudsponge-address-book .cloudsponge-topbar {
    border-radius: 10px 10px 0 0 !important;
  }

  #cloudsponge-address-book .cloudsponge-header {
    padding: 0px 4rem 1rem;
  }

  #cloudsponge-address-book .cloudsponge-title {
    padding: 0 4rem 0 4rem !important;
  }

  #cloudsponge-address-book ul.cloudsponge-contacts-list {
    margin: 0 3.2rem;
  }

  #cloudsponge-address-book ul.cloudsponge-contacts-list>li .cloudsponge-selected-mail {
    position: absolute !important;
    right: 0 !important;
  }

  #cloudsponge-address-book .cloudsponge-button.cloudsponge-export-button {
    padding: 17px 50px !important;
    font-size: 18px !important;
  }

}

@media (max-width: 400px), (max-device-width: 960px) and (orientation: landscape) {
  #cloudsponge-address-book .cloudsponge-back-button {
    top: 12px !important;
  }

  #cloudsponge-address-book .cloudsponge-button.cloudsponge-export-button {
    top: 12px !important;
    right: 12px !important;
  }
}